name: Deploy TCIOE

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: [self-hosted, cdn, backend]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy Application
        run: |
          cd /srv/apps/backend
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt
          python manage.py makemigrations
          python manage.py migrate
          python manage.py collectstatic --noinput
          sudo systemctl restart gunicorn
